*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.menu, .icons{
    display: flex;
    height: 800px;
}

.menu{
    justify-content: space-between;
}

.icon{
    height: 100px;
    width: 100px;
}

.logo{
    height: 150px;
    width: 150px;
}